<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.kinson.im.chat.data.dao.MessageDao">
    <resultMap id="messageView" type="pers.kinson.business.entity.Message">
    </resultMap>
    <select id="fetchNew"
            resultMap="messageView">
        SELECT * FROM message
        WHERE
        channel = #{channelType}
        AND receiver = #{receiver}
        AND id > #{maxSeq}
    </select>

    <select id="fetchNewPersonal"
            resultMap="messageView">
        SELECT * FROM message
        WHERE
        channel = 0
        AND (receiver = #{receiver} OR sender = #{receiver})
        AND id > #{maxSeq}
    </select>

</mapper>
