<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.kinson.im.web.data.dao.OssResourceDao">
    <resultMap id="record" type="pers.kinson.business.entity.OssResource">
    </resultMap>

    <select id="selectByType"
            resultMap="record">
        SELECT * FROM ossresource
        WHERE type  =  #{type} ;
    </select>
    <select id="clearExpired"
            resultMap="record">
        SELECT * FROM ossresource
        WHERE type != "emoji" AND type != "avatar"
        AND createdDate &lt; NOW() - INTERVAL 3 DAY;
    </select>

</mapper>