<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--别名申明 -->
	<typeAliases>
		<typeAlias type="com.kingston.im.data.model.User" alias="user" />
	</typeAliases>


</configuration>
