<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.kinson.im.chat.data.dao.FriendDao">

	<resultMap id="friendView" type="pers.kinson.im.chat.data.view.FriendView">
	</resultMap>

	<select id="getMyFriends" parameterType="java.lang.Long"
		resultMap="friendView">
		SELECT
            u.userId,
            u.sex,
            u.userName,
            u.avatar,
            f.remark,
            u.signature,
            COALESCE(fg.id, '') AS groupId,
            COALESCE(fg.name, '') AS groupName,
            COALESCE(fg.sort, '') AS groupSort
		FROM
            friends f
            LEFT JOIN friendgroup fg ON f.groupId = fg.id
            LEFT JOIN user u ON f.friendId = u.userId
		WHERE
		    f.userId = #{userId}
        ORDER BY fg.sort DESC
	</select>
</mapper>