<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.kinson.im.chat.data.dao.FriendDao">

	<resultMap id="friendView" type="pers.kinson.im.chat.data.view.FriendView">
	</resultMap>

	<select id="getMyFriends" parameterType="java.lang.Long"
		resultMap="friendView">
		SELECT u.userId, u.sex, u.userName, f.remark, u.signature,
		       fg.id AS `group`, fg.name AS groupName
		FROM
		friends f , friendgroup fg, user u
		WHERE f.groupId = fg.id
		  AND f.friendId = u.userId
		  AND f.userId = #{userId}
	</select>
</mapper>