# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
**/.settings/
*.project
*.classpath
**/.*prefs

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*/logs/*
*.cache
*.diff
*.patch
*.tmp